# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
database/
data/
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

release/win-unpacked
release/builder-debug.yml
release/builder-effective-config.yaml
release/CrimeGPT Setup 1.0.0.exe.blockmap
release/latest.yml

installer/
dist/